body {
    padding-top: 1px;
    min-width: 320px;
    min-height: 100vh;
    padding-bottom: 20px;
    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;
    font-family: 'Montserrat', sans-serif; 
    font-size: 14px;
	line-height: 24px;
    color: $titleColor;
	font-weight: 400;
    background: url('../images/test/test-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
}