.home {
	width: 34px;
	height: 34px;
	border-radius: 50%;
	background: #FF0033;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 13px;
	z-index: 110;
	transition: all .3s ease;
	&:hover,
	&:focus {
		background: rgba(#FF0033, 0.7);
	}
}

@media screen and(max-width: 1400px) {
	.home {
		top: 5px;
	}
}

@media screen and(max-width: 1200px) {
	.home {
		top: 50px;
		left: 20px;
	}
}

@media screen and(max-width: 1050px) {
	.home {
		top: 5px;
		left: 35px;
	}
}