body {
    min-width: 320px;
    // min-height: 100vh;
    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
	line-height: 22px;
	font-weight: 400;
	overflow-x: hidden;
    min-height: -webkit-fill-available;
}